body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'nanumsquare';
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

header {
    width: 100%;
    height: 6rem;
    /*                border-bottom: 1px solid gray;*/
    margin-top: 2rem;
}

#mainLogo {
    font-family: 'poiret one';
    font-size: 3rem;
    margin-left: 4rem;
    letter-spacing: 3px;
}

ul {
    position: absolute;
    right: 0;
    top: 3.4rem;
    right: 4rem;
}

ul li {
    display: inline-block;
    font-family: 'nanumsquare';
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    padding-right: 2rem;
}

ul li a {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

ul li a:hover {
    letter-spacing: 3px;
}

ul li input[type=text] {
    width: 12rem;
    height: 1.5rem;
    border-bottom: 1px solid darkgray;
    margin-top: -0.3rem;
    padding-left: 0.5rem;
}

ul img {
    display: inline-block;
    margin-left: -2rem;
    width: 20px;
    cursor: pointer;
}


/**/

#poemBack {
    width: 100%;
    height: 25rem;
    background-color: #292929;
}

#poemPart {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100%;
    margin-top: -56px;
}

#poemBack h1 {
    color: white;
    font-family: 'nanumsquare';
    font-weight: lighter;
    font-size: 1.3rem;
    padding-left: 0.1rem;
    padding-top: 2rem;
}

#poemBack .backImg {
    width: 13rem;
    height: 18.5rem;
    display: inline-block;
    margin-top: 1rem;
    vertical-align: top;
}

#poemPart h2 {
    color: white;
    font-family: 'nanumsquare';
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
    word-spacing: 10px;
}

h2#author {
    margin-top: 7.5rem;
}

.thumbUp {
    width: 28px;
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    margin-top: 1rem;
}

#thumbCnt {
    color: white;
    font-family: 'nanumsquare';
    font-size: 0.85rem;
    display: inline-block;
    margin-top: 1.45rem;
    margin-left: 8px;
}


/* slider 부분 */

.sliders {
    height: 100%;
    width: 34rem;
    margin: 0 auto;
}


/**/

h1 {
    color: #404040;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 5rem;
}

#selectPoemsCover {
    text-align: center;
    vertical-align: top;
    margin-top: 3rem;
}

.selectPoems {
    width: 14%;
    height: 15rem;
    box-shadow: 0 0 3px darkgray;
    display: inline-block;
    border-radius: 4px;
    margin-right: 4rem;
    margin-top: 1rem;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.selectPoems:hover {
    animation-name: scaleDown;
    animation-duration: 0.55s;
    animation-fill-mode: forwards;
}

@keyframes scaleDown {
    50% {
        transform: scale(0.85);
    }
}

.selectPoems:nth-of-type(1) {
    background-image: url(../imgs/poem1.jpg);
    margin-left: 4rem;
}

.selectPoems:nth-of-type(2) {
    background-image: url(../imgs/poem2.jpg);
}

.selectPoems:nth-of-type(3) {
    background-image: url(../imgs/poem3.jpg);
}

.selectPoems:nth-of-type(4) {
    background-image: url(../imgs/poem4.jpg);
}

.selectPoems:nth-of-type(5) {
    background-image: url(../imgs/poem5.jpg);
}

.poemName {
    padding-top: 16rem;
}


/**/

.poemBtnCover {
    text-align: center;
    margin-top: 4rem;
}

#bookBtnCover {
    margin-top: 3rem;
}

.poemBtns {
    display: inline-block;
    margin: 2rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border: 1.5px solid #707070;
    border-radius: 50px;
    width: 9rem;
    height: 2.5rem;
    padding-top: 0.6rem;
    cursor: pointer;
    transition: 0.4s;
}

.poemBtns:nth-of-type(1) {
    background-color: #707070;
    color: white;
}


/**/

.bookCover {
    width: 100%;
    height: 20rem;
    margin-top: 3.5rem;
    /*                border:1px solid black;*/
    font-size: 0;
}

.books {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.books .bookImgs {
    display: inline-block;
    width: 67.5%;
    height: 100%;
    /*                border-right: 1px solid;*/
}

.realImgs {
    width: 15rem;
    height: 90%;
    margin-left: 14rem;
    margin-top: 1rem;
    box-shadow: 0 0 4px darkgray;
    cursor:pointer;
}

.books .bookEx {
    display: inline-block;
    width: 32.5%;
    height: 100%;
}

.bookEx h1 {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.9rem;
}

.bookEx h2 {
    font-size: 1rem;
    color: #404040;
    font-weight: normal;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.bookEx h2:nth-of-type(1) {
    margin-top: 2rem;
}


/**/

footer {
    width: 100%;
    height: 8rem;
    background-color: #292929;
    margin-top: 4rem;
}
